{% extends 'Jaimain/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form method="post" action="{% url 'add_sku' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <h2>Описание Товара</h2>
    </div>

    <div class="p__addPart">
        {{ sku_form.as_p }}
    
        {{ productpropertyrelation_formset.management_form }}
    </div>
    

    <div>
        <h2>Свойства Товара</h2>
    </div>
    {% for form in productpropertyrelation_formset %}
    <div class="form-group">
        <!-- <div class="title">Добавить</div> -->
        <img class="title plus" src="/static/Jaimain/images/plus.png" alt="">
        <div>{{ form.as_p }}</div>
        
    </div>
    {% endfor %}
    <input class="btn" type="submit" value="Сохранить">
</form>


{% endblock %}
