{% extends 'Jaimain/base.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>{{title}}</h1>

<form method="post" action="{% url 'add_supply' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <h2>Регистрация поступления товаров</h2>
    </div>

    <div class="p__addPart">
        <div> {{ add_supply_form.supplier.label }} {{ add_supply_form.supplier }}</div>
        <div> {{ add_supply_form.document.label }} {{ add_supply_form.document }}</div>
        <div> {{ add_supply_form.date.label }} {{ add_supply_form.date }} </div>
        <div> {{add_supply_form.warehouse.label }} {% render_field add_supply_form.warehouse class+="select2" %} </div>
    </div>


    <div>
        <h2>Товары</h2>
    </div>
<!--    <img class="title1 plus1" src="/static/Jaimain/images/plus.png" alt="">-->

    <div>
    
    <div class="whpGlav">
        <p class="whp">Товар</p>
        <p class="whp ml">Количество</p>
        <p class="whp ml ">Закупочная цена</p>

    </div>
        <ol>
    {% for form in products_in_supply_formset %}
                {{ products_in_supply_formset.management_form }}

            <li>{% render_field form.product class+="select2" %} {{ form.amount }} {{ form.product_supply_price }}</li>
{{ form.errors }}

   
    {% endfor %}
    </ol>
    <input class="btn" type="submit" value="Сохранить">
</form>

<script>
// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.select2').select2();
});
</script>

{% endblock %}
