<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<h1>{{title}}</h1>

<form action="{% url 'addproductproperty' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p class="form-inputRegisterP">
    <label class="form-label form-inputRegister" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}


    <button class="btn" type="submit">Добавить</button>
</form>


{% endblock %}
