{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'Jaimain/css/styles.css' %}" rel="stylesheet" />
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'Jaimain/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="preloader">
	<div class="preloader__row">
		<div class="preloader__item"></div>
		<div class="preloader__item"></div>
	</div>
</div>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr class="background-tr">
{% block mainmenu %}
		<div class="header">

			<ul id="mainmenu" class="mainmenu">
				
			<div class="logo">
				<!-- <a href="{% url 'partners' %}" > -->
				<div class="logo"></div></a>
				</div>
{% if request.user.is_authenticated %}
				<div class="header__user">
					<div class="last">
						<!-- <img src="./../../static/Jaimain/images/user.svg" alt=""> -->
						<img class="user__img" src="/static/Jaimain/images/user.svg" alt="">
						<p>{{user.username}}</p>
					</div>
					<div class="header__user-exit">
						<img class="header__user-exitImg" src="/static/Jaimain/images/exit.svg" alt="">
						<a class="header__exit" href="{% url 'logout' %}">Выйти</a>
					</div>
				</div>
			
			
			{% else %}
			
			<div class="last"><a class="last__login" href="{% url 'login' %}">Войти</a>
			</div>
			{% endif %}
{% endblock %}
<!-- Sidebar слева -->

	<div class="top2 ">
		<div class="sidebar__arrow-img2">
			<!-- <img class="sidebar__arrow-img0" src="./../../static/Jaimain/images/picture.svg" alt=""> -->
			<img class="sidebar__arrow-img0" src="/static/Jaimain/images/picture.svg" alt="">
			<img class="partners zero zero1"  src="/static/Jaimain/images/part-icon.svg" alt="">
			<img class="AddPartners zero zero1" src="/static/Jaimain/images/add-part-icon.svg" alt="">
			<img class="shops zero zero1" src="/static/Jaimain/images/home.svg" alt="">
			<img class="category zero zero1" src="/static/Jaimain/images/category.svg" alt="">
		</div>
	</div>

		<td valign="top" class="left-chapters " >
			
			<div class="sidebar__arrow">
				<img class="sidebar__arrow-img" src="/static/Jaimain/images/Caret.svg" alt="">
			</div>
			<ul id="leftchapters">
{% for m in menu %}
				<li>
					<div class="slider__right" >
						<a  href="{% url m.url_name %}">{{m.title}}</a>
					</div>
				</li>
{% endfor %}
			</ul>
			
		</td>


<!-- Конец Sidebar'а -->

<td valign="top" class="content footet-bot">
	
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
	<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
		<li class="page-num">
            <a href="?page={{ p }}">{{ p }} </a>
        </li>
		{% endif %}
        {% endfor %}
{% if page_obj.has_next %}
<li class="page-num">
	<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}
    </ul>
</nav>
{% endif %}
	</div>
	<canvas id="game" width="400" height="400"  ></canvas>
<!-- Конец блока контента -->

</td></tr></table>
<ul id="pagination" class="stylePagination">
	<li>1</li>
	<li>2</li>
</ul>
</td></tr>

<!-- Footer -->
<!-- <tr><td valign=top>
	<div class="footer-fot" id="footer">
		<p>&copy; NuRRo.</p>
	</div>
</td></tr></table> -->
<!-- Конец footer'а и страницы -->

</body>
<!-- <script src="./../../static/Jaimain/main.js"></script> -->
<script src="/static/Jaimain/main.js"></script>
<!-- preloader -->
<script>
	window.onload = function () {
	  document.body.classList.add('loaded_hiding');
	  window.setTimeout(function () {
		document.body.classList.add('loaded');
		document.body.classList.remove('loaded_hiding');
	  }, 500);
	}
  </script>
  <!-- preloader end-->
</html>