<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}


<!-- <div class="massiv1">{{data.0}}</div>
<div class="massiv2">{{data.1}}</div> -->
<div class="zero1">
  <div class="lineDay">{{data_sales_by_shops_linear.0}}</div>
  <div class="lineData">{{data_sales_by_shops_linear.1}}</div>

  ПРОДАЖИ ЗА ТЕКУЩИЙ День
  <div class="massiv1Day">{{data_sales_by_cat_pie.0.0}}</div>
  <div class="massiv2Day">{{data_sales_by_cat_pie.0.1}}</div>

  ПРОДАЖИ ЗА ТЕКУЩИЙ МЕСЯЦ
  <div class="massiv1">{{data_sales_by_cat_pie.1.0}}</div>
  <div class="massiv2">{{data_sales_by_cat_pie.1.1}}</div>

  ПРОДАЖИ ЗА ТЕКУЩИЙ ГОД
  <div class="massiv1God">{{data_sales_by_cat_pie.2.0}}</div>
  <div class="massiv2God">{{data_sales_by_cat_pie.2.1}}</div>



  ПИРОГ ПО ФОРМАМ ОПЛАТЫ ЗА День
  <div class="pirogOplataDay1">{{data_sales_by_payment_forms_pie.0.0}}</div>
  <div class="pirogOplataDay2">{{data_sales_by_payment_forms_pie.0.1}}</div>


  ПИРОГ ПО ФОРМАМ ОПЛАТЫ ЗА Месяц
  <div class="pirogOplataMouth1">{{data_sales_by_payment_forms_pie.1.0}}</div>
  <div class="pirogOplataMouth2">{{data_sales_by_payment_forms_pie.1.1}}</div>

  ПИРОГ ПО ФОРМАМ ОПЛАТЫ ЗА ГОД
  <div class="pirogOplataGod1">{{data_sales_by_payment_forms_pie.2.0}}</div>
  <div class="pirogOplataGod2">{{data_sales_by_payment_forms_pie.2.1}}</div>


  пирог по каналам продаж за день
  <div class="pirogKanalDay1">{{data_sales_by_sales_channel_pie.0.0}}</div>
  <div class="pirogKanalDay2">{{data_sales_by_sales_channel_pie.0.1}}</div>

  пирог по каналам продаж за месяц
  <div class="pirogKanalMouth1">{{data_sales_by_sales_channel_pie.1.0}}</div>
  <div class="pirogKanalMouth2">{{data_sales_by_sales_channel_pie.1.1}}</div>

  пирог по каналам продаж за год
  <div class="pirogKanal1">{{data_sales_by_sales_channel_pie.2.0}}</div>
  <div class="pirogKanal2">{{data_sales_by_sales_channel_pie.2.1}}</div>

</div>

<div class="dashboard__form">
  <canvas id="myChart"></canvas>
  <button class="chart3btn btn zero">Сменить период</button>
  <canvas class="line" id="myChart4"></canvas>

  <p class="textPie">График продаж по категориям</p>
  <div class="buttonsGraph">
    <button class="chartbtn btn">За день</button>
    <button class="chartbtnMouth btn">За месяц</button>
    <button class="chartbtnGod btn">За год</button>
  </div>
  <canvas class="pie" id="myChart2"></canvas>
  <!-- <canvas id="myChart3"></canvas> -->


  <p class="textPie">График по формам оплаты</p>
  <div class="buttonsGraph">
    <button class="chartbtnOplata btn">За день</button>
    <button class="chartbtnMouthOplata btn">За месяц</button>
    <button class="chartbtnGodOplata btn">За год</button>
  </div>
  <canvas class="pie" id="myChart5"></canvas>

  <p class="textPie">График по каналам продаж</p>
  <div class="buttonsGraph">
    <button class="chartbtnKanalDay btn">За день</button>
    <button class="chartbtnMouthKanal btn">За месяц</button>
    <button class="chartbtnGodKanal btn">За год</button>
  </div>
  <canvas class="pie" id="myChart6"></canvas>
  <!-- <canvas id="myChart20"></canvas> -->
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/Jaimain/chart.js"></script>
{% endblock %}


