<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}

<!-- <div class="massiv1">{{data.0}}</div>
<div class="massiv2">{{data.1}}</div> -->
<div class="lineDay">{{data_sales_by_shops_linear.0}}</div>
<div class="lineData">{{data_sales_by_shops_linear.1}}</div>

ПРОДАЖИ ЗА ТЕКУЩИЙ День
<div class="massiv1Day">{{data_sales_by_cat_pie.0.0}}</div>
<div class="massiv2Day">{{data_sales_by_cat_pie.0.1}}</div>

ПРОДАЖИ ЗА ТЕКУЩИЙ МЕСЯЦ
<div class="massiv1">{{data_sales_by_cat_pie.1.0}}</div>
<div class="massiv2">{{data_sales_by_cat_pie.1.1}}</div>

ПРОДАЖИ ЗА ТЕКУЩИЙ ГОД
<div class="massiv1God">{{data_sales_by_cat_pie.2.0}}</div>
<div class="massiv2God">{{data_sales_by_cat_pie.2.1}}</div>

<div>
  <canvas id="myChart"></canvas>
  <button class="chartbtn btn">Продажи за день</button>
  <button class="chartbtnMouth btn">Продажи за месяц</button>
  <button class="chartbtnGod btn">Продажи за Год</button>
  <canvas class="pie" id="myChart2"></canvas>
  <canvas id="myChart3"></canvas>
  <button class="chart3btn btn zero">Сменить период</button>
  <canvas class="line" id="myChart4"></canvas>
  <canvas id="myChart5"></canvas>
  <canvas id="myChart20"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/Jaimain/chart.js"></script>


{% endblock %}


