<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/Jaimain/chart.js"></script>
<div class="massiv1">{{data.1.0}}</div>
<div class="massiv2">{{data.1.1}}</div>
<div class="lineDay">{{data2.0}}</div>
<div class="lineData">{{data2.1}}</div>

<div>
  <canvas id="myChart"></canvas>
  <canvas id="myChart2"></canvas>
  <canvas id="myChart3"></canvas>
  <canvas id="myChart4"></canvas>
</div>

<div>Продажи по категориям:
  {{data_sales_by_cat_pie}}</div><br>
<div>Продажи по магазинам для линейного графика:{{data_sales_by_shops_linear}}</div><br>

<div>Продажи по формам оплаты для пирога: {{data_sales_by_payment_forms_pie}}</div><br>

<div>Продажи по каналам продаж для пирога: {{data_sales_by_sales_channel_pie}}</div><br>

{% endblock %}


