<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}

<div class="massiv1">{{data.0}}</div>
<div class="massiv2">{{data.1}}</div>
<div class="lineDay">{{data2.0}}</div>
<div class="lineData">{{data2.1}}</div>

<div>
  <canvas id="myChart"></canvas>
  <canvas id="myChart2"></canvas>
  <canvas id="myChart3"></canvas>
  <button class="chart3btn btn">Сменить период</button>
  <canvas id="myChart4"></canvas>
  <canvas id="myChart5"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/Jaimain/chart.js"></script>


{% endblock %}


