{% extends 'Jaimain/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p class="form-inputRegisterP">
    <label class="form-label form-inputRegister" for="{{ f.id_for_label }}">
        {{f.label}}: </label>{{ f }}
</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}


    <button class="btn" type="submit">Сохранить</button>

</form>
    <button class="btn" onclick="history.go(-1)">Отменить</button>


{% endblock %}
