<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->
    
<!-- </form> -->
<!-- <button class="btn"><a class="btn__text" href="{% url 'addpartner' %}">Добавить партнера</a></button> -->

<div class="header__users-top">
	<div class="d7">
		<form shadowroot="open">
		<input  id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		
	</div>

	<div class="btn__addUsers">
		<!-- <button class="btn ">
			<a class="btn__text" href="{% url 'addpartner' %}">Добавить партнера</a>
		</button> -->

		
			<a class="btn__text "  href="{% url 'addpartner' %}">
				<div class="btn ">Добавить партнера</div>
			</a>
		

	</div>

	<!-- <input type="text" class="filter-input"> -->

	
</div>

<ul id="filter-list" class="list-articles partners__cards page">
	
<!-- <ul class="list-articles"> -->
	{% for p in partners %}
	
	<li class="partners__info num">
		<p><img class="img-article-left thumb" src="{{p.logo.url}}"></p>
		<div class="article-panel">
			<p class="first">{{p.name}}</p></div>
		


{% if p.logo %}
	
{% endif %}

	{% autoescape on %}
	<div class="partners-desc" >
		{{p.description|linebreaks|truncatewords:10}}
	</div>
	<p class="last dataPartners">Дата начала работы:<br> {{p.time_start_working|date:"d-m-Y"}} <br> Дата окончания работы: {{p.time_expires|date:"d-m-Y"}}</p>
	{% endautoescape %}
	<!-- <div class="clear"></div> -->

	<div class="partners__info-header" style="text-align: right">
		<button class="btn btn__partners">
			<a class="btn__text" href="{{p.pk}}">Просмотр</a>
		</button>
		</div>

			</li>
		
	{% endfor %}
</ul>

<div class="paginator" onclick="pagination(event)"></div>
<!-- <div class="pagination"></div> -->
<!-- <ul id="pagination" class=" stylePagination">
	<li class="btn">1</li>
	<li class="btn">2</li>
</ul> -->

{% endblock %}
