{% extends 'Jaimain/base.html' %}

{% block content %}
<div class="header_ilya">
    <h1>{{partner.name}}</h1>
    <div style="text-align: right" class="btn_ilya">
        <button class="btn">
            <a class="white" href='{% url 'editpartner' partner.pk %}'>Редактировать</a>
        </button>
    </div>
</div>


<!-- {% if partner.logo %}
<div>
    <img class="img-article-left" src="{{partner.logo.url}}">
</div>
{% endif %} -->
<div class="Portfolio__users">
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Описание</div>
        <div>{{partner.description}}</div>
        <!-- {{partner.description|linebreaks}} -->
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Активность:</div>
        <div>{{partner.is_working}}</div>
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактное лицо партнера:</div>
        <div>{{partner.partner_person}}</div>
    </div>
    
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактный номер телефона:</div>
        <div>{{partner.partner_tel}}</div>
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактный e-mail:</div>
        <div>{{partner.partner_email}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Время создания партнера:</div>
        <div>{{partner.time_create}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Время начала работы: </div>
        <div>{{partner.time_start_working}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Доступ до:</div>
        <div>{{partner.time_expires}}</div>
        </div>
    
</div>
{% if partner.logo %}
<div>
    <img class="img-article-left" src="{{partner.logo.url}}">
</div>
{% endif %}

<!-- <h4>{{partner.description|linebreaks}}</h4>
<p>Контактное лицо партнера: {{partner.partner_person}}</p>
<p>Контактный номер телефона: {{partner.partner_tel}}</p>
<p>Контактный e-mail: {{partner.partner_email}}</p>
<p>Время создания партнера: {{partner.time_create}}</p>
<p>Время начала работы: {{partner.time_start_working}}</p>
<p>Доступ до: {{partner.time_expires}}</p>
<p>Активность: {{partner.is_working}}</p> -->
{% endblock %}
