{% extends 'Jaimain/base.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block content %}
{% if partner.logo %}
<div>
    <img class="img-article-left" src="{{partner.logo.url}}">
</div>
<div style="clear: both;"></div>
{% endif %}
<div class="header_ilya">
    <h1>{{partner.name}}</h1>
    <div style="text-align: right" class="btn_ilya">
        <button class="btn">
            <a class="white" href='{% url 'editpartner' partner.pk %}'>Редактировать</a>
        </button>
    </div>
</div>


<!-- {% if partner.logo %}
<div>
    <img class="img-article-left" src="{{partner.logo.url}}">
</div>
{% endif %} -->
<div class="Portfolio__users">
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Описание</div>
        <div>{{partner.description}}</div>
        <!-- {{partner.description|linebreaks}} -->
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Активность:</div>
        <div>{{partner.is_working}}</div>
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактное лицо партнера:</div>
        <div>{{partner.partner_person}}</div>
    </div>
    
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактный номер телефона:</div>
        <div>{{partner.partner_tel}}</div>
    </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Контактный e-mail:</div>
        <div>{{partner.partner_email}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Время создания партнера:</div>
        <div>{{partner.time_create}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Время начала работы: </div>
        <div>{{partner.time_start_working}}</div>
        </div>
    <div class='PortfolioUsers'>
        <div class="PortfolioMail-top">Доступ до:</div>
        <div>{{partner.time_expires}}</div>
        </div>
    
</div>



<h4>Торговые точки партнера:</h4>
{% for shop in shops_info %}
<li>{{ shop }}</li>

{% endfor %}

<h4>Каналы продаж партнера:</h4>
{% for channel in sales_channel %}
<li>{{ channel }}</li>
{% endfor %}

<h4>Способы оплаты партнера:</h4>
{% for form in payment_form %}
<li>{{ form }}</li>
{% endfor %}




<div class="header_ilya">
    <h4>Базовая система лояльности партнера:</h4>
    {% if bsl.0 %}
<div style="text-align: right" class="btn_ilya">
        <button class="btn">
            <a class="white" href='{% url 'bsl_edit' bsl.0.pk %}'>Изменить Базовую Систему Лояльности</a>
        </button>
</div>

    {% else %}
<div style="text-align: right" class="btn_ilya">
        <button class="btn">
            <a class="white" href='{% url 'bsl_create' %}'>Создать Базовую Систему Лояльности</a>
        </button>
</div>
    {% endif %}
</div>
<li>% начисляемых бонусов: {{ bsl.0.points_achieve }}%</li>
<li>% стоимости товара для оплаты бонусами: {{ bsl.0.points_spend }}%</li>


{% endblock %}

