{% block content %}
<ul class="list-articles">
	{% for p in partners %}
			<li><div class="article-panel">
	<p class="first">Партнер: {{p.name}}</p>
	<p class="last">Дата начала работы: {{p.time_start_working|date:"d-m-Y"}}</p>
	<p class="last">Дата окончания работы: {{p.time_expires|date:"d-m-Y"}}</p>
</div>

{% if p.logo %}
	<p><img class="img-article-left thumb" src="{{p.logo.url}}"></p>
{% endif %}

				<h2>{{p.name}}</h2>
	{% autoescape on %}
	{{p.description|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>

			</li>
	{% endfor %}
</ul>
{% endblock %}
