<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<h1>{{ user_partner }} id - {{user_partner.pk}}</h1>
<div class="header__users-top">
		<div class="d7">
			<form>
			<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">

			</form>
		</div>


		<div class="btn__addUsers">
			<button class="btn">
				<a class="btn__text" href="{% url 'addproductcategory' %}">Добавить товарную категорию</a>
			</button>
		</div>

</div>

{% load mptt_tags %}

{% block title %}Список категорий{% endblock %}



<div>
    <!-- <div id="sweeties" class="menu"> -->
		<!-- <span class="title">Сладости (нажми меня)!</span> -->
		<ul>

	{% recursetree object_list %}
			<!-- <img class="title" src="./../../static/Jaimain/images/ar.svg" alt=""> -->

	    	<li id="sweeties" class="menu open">
				<a class="categoryStyle"  id='filter-list' href={{ node.pk }}>{{node.name}} </a>
				<!-- <img class="title" src="./../../static/Jaimain/images/ar.svg" alt=""> -->
		{% if not node.is_leaf_node %}
				<img class="title" src="./../../static/Jaimain/images/ar.svg" alt="">
				<!-- <div class="title">Нажать</div> -->
                <ul class="children ">{{ children }}</ul>
		{% endif %}
	   		 </li>
	{% endrecursetree %}
		</ul>
    </div>
</div>

{% endblock %}
