<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

<!-- </form> -->
<div class="header__users-top">

	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		</form>
	</div>

	<!-- <button class="btn btn__addUsers1 btn-fuck zero1">

		<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
	</button> -->
	<div class="btn__addUsers btn__api">
		<button class="btn ">
			Добавить свойство
		</button>

	</div>


	<!-- <input type="text" class="filter-input"> -->


</div>


<div class="modal zero1 ">
	<div class="modal-content">
		<div class="imgCrossParrent"><img class="imgCross" src="/static/Jaimain/images/Cross.svg" alt=""></div>
		<div class="imgPropertyParrent"><img class="imgProperty" src="/static/Jaimain/images/salyProperty.png" alt=""></div>
		<form id="formElem">
			{% csrf_token %}
			<input class="formElem-name" type="text" name="name" placeholder="Название свойства">
			<input class="zero1" type="text" name="partner" value="{{user_partner.pk}}" placeholder="Партнер">
			<input class="btn btn__submit-form formElem-btn" type="submit" value="Добавить">
			
		</form>
	</div>
</div>


	<!-- <div class="headers__users  header_users-list header_users-list1">
		<div class="headerTable">Название свойства</div>
		<div class="headerTable">Партнер</div>
		<div class="headerTable butPods" data-title="Сортировать Свойства от А - Я">
			<button class="btn1 btn__addUsers1 btn-fuck ">

			<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
		</button>
		</div>
	</div> -->
	<table  class="trStyle " id="myTable">
		<tr class="headTable">
			<th>Название свойства</th>
			<th>Партнер</th>

			<th class="knopkaSort">
				<div class="headerTable butPods" data-title="Сортировать Свойства от А - Я">
					<button class="btn1 btn__addUsers1 btn-fuck ">
					
					<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
					</button>
				</div>
			</th>
		</tr>

		<tr class="trClass">
			{% for prop in product_props %}
			<td class="tdStyle">{{prop.name}}</td>
			<td class="tdStyle">{{prop.partner}}</td>
			<td class="tdStyle whtdStyle"> 
				  
				  <a class="btn__text" href="{{prop.pk}}">
					<button class="btnTable"></button>
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
			<!-- <p class="last">{{u.first_name}} {{u.last_name}}, Партнер: {{u.partner}}</p> -->

		<div class="clear"></div>


{% endblock %}

