<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}


	<div class="btn__addUsers">
		<button class="btn">
			<a class="btn__text" href="{% url 'addproductcategory' %}">Добавить товарную категорию</a>
		</button>
	</div>
</div>

{% load mptt_tags %}

{% block title %}
<h2>Список категорий</h2>
	{% endblock %}



<div>
    <div>
	<ul>
	{% recursetree object_list %}
	    <li>
		<a href={{ node.pk }}><h3>{{node.name}}</h3></a>
		{% if not node.is_leaf_node %}
                <ul class="children">
                    <h4>{{ children }}</h4>
                </ul>
		{% endif %}
	    </li>
	{% endrecursetree %}
	</ul>
    </div>
</div>

{% endblock %}
