{% extends 'Jaimain/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="bsl1"><div class="bsl">{{partner_bsl.points_spend}}</div>% - процент суммы чека, который может быть оплачен бонусами (для простоты пусть будет БСЛ)</div>
То есть должны быть проверки:
<br>"Списываемые бонусы" должны быть <= Сумма бонусов клиента(получаешь в АПИ)
<br> "Списываемые бонусы" должны быть <= ((Сумма всех полей "Цена с учетом скидки")/100)*БСЛ
<form method="post" action="{% url 'receipt_registration' %}" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="p__addPart">
        <div>{{ receipt_form.receipt_number_display.label }} {{ receipt_form.receipt_number_display }}
        {{ receipt_form.shop.label }} {{ receipt_form.shop}}</div>
                <br><div>{{ receipt_form.customer.label }} {{ receipt_form.customer }}</div>
               <br> <div>{{ receipt_form.sales_channel.label }} {{ receipt_form.sales_channel }}
        {{ receipt_form.payment_form.label }} {{ receipt_form.payment_form }}</div>
        <br>
        <div>{{ receipt_form.points_achieve_or_spend.label}} {{ receipt_form.points_achieve_or_spend }}
        {{ receipt_form.points_used.label }} {{ receipt_form.points_used}}</div>
    </div>


    <div>
        <h2>Товары</h2>
    </div>


    <div>Товар | Установленная цена | Количество | Скидка | Цена с учетом скидки | Удалить </div>
    

  
    <!-- <div class="glavTovariMid"><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
        <div><div> -->
            <div class="RazdelTovari">
                {{ products_in_receipt_formset.management_form }}
                {% for form in products_in_receipt_formset %}
                {{ form.product }} {{ form.price_in_stock }} {{ form.amount }}  {{ form.discount }} {{form.price_with_discount}} {{ form.DELETE }}</div>
    
                {{form.errors}}
                {% endfor %}
    
            </div>
        <!-- </div></div>
        
    </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div> -->
        

    <h3>Всего товаров - , на сумму - </h3>
    <div class="totalzArea">0</div>
    <input class="btn" type="submit" value="Сохранить">
</form>


<script src="/static/Jaimain/receipt_registration.js"></script>
{% endblock %}
