{% extends 'Jaimain/base.html' %}
{% load widget_tweaks %}
{% block content %}
<h1>
    {{title}}
</h1>
    <div class="bsl1 zero1"><div class="bsl">{{partner_bsl.points_spend}}</div>% - процент суммы чека, который может быть оплачен бонусами (для простоты пусть будет БСЛ)

    <br>"Списываемые бонусы" должны быть <= Сумма бонусов клиента(получаешь в АПИ)
    <br> "Списываемые бонусы" должны быть <= ((Сумма всех полей "Цена с учетом скидки")/100)*БСЛ
</div>


<form method="post" action="{% url 'receipt_registration' %}" enctype="multipart/form-data">
    {% csrf_token %}


    <div class="p__addPart flex-regist">
        <div>
            <div>
                <div class="">{{ receipt_form.receipt_number_display.label }}</div>
                <div class="whregishDoc">{{ receipt_form.receipt_number_display }}</div>
            </div>
            <div>
                <div>{{ receipt_form.shop.label }}</div>
                <div>{% render_field receipt_form.shop class+="select2" %}</div>
            </div>
            <div>
                <div>{{ receipt_form.customer.label }}</div>
                <div>{% render_field receipt_form.customer class+="select2" %}</div>
            </div>

            <div>
                <div>{{ receipt_form.sales_channel.label }}</div>
                <div>{% render_field receipt_form.sales_channel class+="select2" %}</div>
            </div>
        </div>
        <div>
            <div>
                <div>{{ receipt_form.payment_form.label }}</div>
                <div> {% render_field receipt_form.payment_form class+="select2" %}</div>
            </div>
            <div>
                <div>{{ receipt_form.points_achieve_or_spend.label}} </div>
                <div>{% render_field receipt_form.points_achieve_or_spend class+="select2" %}</div>
            </div>
            <div>
                <div>{{ receipt_form.points_used.label }}</div>
                <div> {{ receipt_form.points_used}} {{ receipt_form.points_used.errors}}</div>
            </div>
            <div>
                <div>Бонусы клиента</div>
                <div class="bonysiClient">0</div>
            </div>
        </div>
        
    </div>


    <div>
        <h2>Товары</h2>
    </div>


   
    

  
    <!-- <div class="glavTovariMid"><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div><div>
        <div><div> -->
            <div class="whpGlav">
                <p class="whp">Товар</p>
                <p class="whp">Установленная цена</p>
                <p class="whp">Количество</p>
                <p class="whp">Скидка %</p>
                <p class="whp">Цена с учетом скидки</p>
                <!-- <p class="whp"></p> -->
            </div>
            {% for form in products_in_receipt_formset %}
            <div class="RazdelTovari">
                {{ products_in_receipt_formset.management_form }}
                
                {% render_field form.product class+="select2" %} {{ form.price_in_stock }} {{ form.amount }}  {{ form.discount }} {{form.price_with_discount}}</div>
{{form.errors}}
                {% endfor %}
    
            </div>
            
        <!-- </div></div>
        
    </div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div></div> -->
        

<!--    <div>Всего товаров: </div> -->
     <div class="zArea"> 
       <p>На сумму: </p> <p class="totalzArea"> 0</p> 
    </div>
   
    <input class="btn" type="submit" value="Сохранить">
</form>

<script>
// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.select2').select2();
});
</script>
<!--<script>-->
<!--$(document).ready(function() {-->
<!--    $('.js-example-basic-single').each(function (idx, elem) {-->
<!--        $(elem).select2({-->
<!--            'language': 'ru',-->
<!--        });-->
<!--    });-->
<!--})-->
<!--</script>-->
<script src="/static/Jaimain/receipt_registration.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>-->
{% endblock %}
