{% extends 'Jaimain/base.html' %}

{% block content %}
    <style>
    #id_partner, #id_shop_allowed

    {
        width: 474px !important;
        height: 30px !important;
        border-radius: 5px;
    }
</style>
<h1>{{title}}</h1>

<form action="{% url 'registeruser' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p class="form-inputRegisterP">
    <label class="form-label form-inputRegister" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}
</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}


    <button class="btn" type="submit">Добавить</button>
</form>

<script>
// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('#id_partner').select2();
    $('#id_shop_allowed').select2();
});
</script>
{% endblock %}
