<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

<!-- </form> -->
<div class="header__users-top">

	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		</form>
	</div>


	<!-- <button class="btn btn__addUsers1 btn-fuck zero1">

		<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
	</button> -->



	<div class="btn__addUsers">
		<button class="btn ">
			<a class="btn__text" href="{% url 'export_sales_data' %}">Сформировать отчет по продажам</a>
		</button>

	</div>

	<div class="btn__addUsers btn__api">
		<button class="btn ">
			Сформировать отчет
		</button>

	</div>



</div>

<div class="modal zero1 ">
	<div class="modal-content">
		<div class="imgCrossParrent"><img class="imgCross" src="/static/Jaimain/images/Cross.svg" alt=""></div>
		<div class="imgPropertyParrent"><img class="imgProperty" src="/static/Jaimain/images/SalyOtchet.png" alt=""></div>
		<form id="formElem">
			{% csrf_token %}
			<!-- <input class="formElem-name" type="text" name="name" placeholder="Название свойства">
			<input class="formElem-description formElemStyle" type="text" name="description" placeholder="Описание свойства"> -->
			<!-- <input class="formElem-parent formElemStyle" type="text" name="parent" placeholder="Родительская категория" "> -->
			<p class="formElemStyle">Выберите формат:</p>
			<select name='file-format' class="podskazka formElemStyle" aria-placeholder="Выберите формат">
				<option value="CSV">CSV</option>
				<option value="JSON">JSON</option>
				<option value="XLS (Excel)">XLS (Excel)</option>
			</select >
			
			<!-- <input class="zero1" type="text" name="partner" value="{{user_partner.pk}}" placeholder="Партнер"> -->
			<input class="btn btn__submit-form formElem-btn" type="submit" value="Сформировать">
		</form>
	</div>
</div>




	<!-- <div class="headers__users  header_users-list header_users-list1">
		<div class="headerTable">Торговая точка</div>
		<div class="headerTable">Дата и время</div>
		<div class="headerTable">Документ</div>
		<div class="headerTable">Количество позиций</div>
		<div class="headerTable">Количество товаров</div>
		<div class="headerTable">Сумма</div>
        <div class="headerTable">Скидка</div>
        <div class="headerTable">Сумма с учетом скидки</div>
        <div class="headerTable">Возврат</div>
		<div class="headerTable"></div>
	</div> -->
	<table  class="trStyle " id="myTable">
		<tr class="headTable">
			<th>Торговая точка(Склад)</th>
			<th>Дата и время</th>
			<th>Документ</th>
			<th>Кол-во позиций</th>
			<th>Кол-во товаров</th>
			<th>Сумма</th>
			<th>Скидка</th>
			<th>Сумма с учетом скидки </th>
			<th>Возврат </th>
			<th>
				<div class="headerTable butPods" data-title="Сортировать Склад от А - Я">
					<button class="btn1 btn__addUsers1 btn-fuck ">
					
					<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
					</button>
				</div>
			</th>

		<tr class="trClass">
			{% for unit in sell_receipt_list %}
			<td class="tdStyle">{% autoescape on %}{{unit.shop}}</td>
			<td class="tdStyle">{{unit.time_created}}</td>
			<td class="tdStyle">{{unit.partner.receipt_prefix}} {{unit.number}}</td>
			<td class="tdStyle">{{unit.get_total_amount_of_SKU_in_receipt}}</td>
			<td class="tdStyle">{{unit.get_total_amount_of_products_in_receipt}}</td>
			<td class="tdStyle">{{unit.get_total_price}}</td>
			<td class="tdStyle">{{unit.get_total_discount}}</td>
			<td class="tdStyle">{{unit.get_total_price_with_discount}}</td>
			<td class="tdStyle">{{unit.is_returned}}</td>
			<td class="tdStyle"> <button class="btn">
				  <a class="btn__text" href="{{unit.pk}}">Просмотр</a>
				  </button>
			</td>
		</tr>

		{% endautoescape %}
		{% endfor %}
	</table>


		<div class="clear"></div>


{% endblock %}

