<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}

<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

</form>

<div class="header__users-top">
	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		
		</form>
	</div>

	<!-- <div class="btn__addUsers">
		<button class="btn">
			<a class="btn__text" href="{% url 'addshop' %}">Добавить торговую точку</a>
		</button>
	</div> -->
{% if self_user.is_partner_admin %}
	<div class="btn__addUsers btn__api">
		<button class="btn ">
			Добавить точку
		</button>

	</div>
	{% endif %}
</div>

<div class="modal zero1 ">
	<div class="modal-content">
		<div class="imgCrossParrent"><img class="imgCross" src="/static/Jaimain/images/Cross.svg" alt=""></div>
		<div class="imgPropertyParrent"><img class="imgProperty" src="/static/Jaimain/images/SalyTochka.png" alt=""></div>
		<form id="formElem">
			{% csrf_token %}
			<input class="formElem-name" type="text" name="name" placeholder="Название точки">
			<input class="formElem-location formElemStyle" type="text" name="location" placeholder="Местоположение">
			<input class="formElem-description formElemStyle" type="text" name="description" placeholder="Описание">
			<!-- <input class="formElem-parent formElemStyle" type="text" name="parent" placeholder="Родительская категория" "> -->
			<p class="formElemStyle">Точка активна?</p>
			<select name='parent' class="podskazka formElemStyle" aria-placeholder="Активен?">
				<option value="false">Нет</option>
				<option value="true">Да</option>
			</select >
			
			<input class="zero1" type="text" name="partner" value="{{user_partner.pk}}" placeholder="Партнер">
			<input class="btn btn__submit-form formElem-btn" type="submit" value="Добавить">
		</form>
	</div>
</div>

<!-- <button class="btn">
	<a class="btn__text" href="{% url 'addshop' %}">Добавить торговую точку</a>
</button> -->
<ul id="filter-list" class="list-articles">
	{% for shop in shops %}
	<li class="partners__info shop__info">
		<div class="article-panel shop__info-art">
		<div class="img">
			<img class="img__shop" src="./../../static/Jaimain/images/store.png" alt="">
		</div>
		<div class="first name__shop">{{shop.name}}</div>
		<div class="partners-desc desc__shop">
		{% autoescape on %}
			{{shop.description|linebreaks|truncatewords:10}}
		</div>
		<div class="mesto__shop">Местоположение: {{ shop.location }}</div>
		<div class="part__shop">Партнер: {{ shop.partner }}</div>
		{% endautoescape %}
		<div class="clear"></div>
		<!-- <div class="partners__info-header" style="text-align: right"> -->
			<button class="btn btn__partners">
				<a class="btn__text" href="{{shop.pk}}">Просмотр</a>
			</button>
		<!-- </div> -->
	</li>
	{% endfor %}
</ul>

{% endblock %}
