<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

<!-- </form> -->
<div class="header__users-top">

	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		</form>
	</div>

	<!-- <button class="btn btn__addUsers1 btn-fuck zero1">

		<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
	</button> -->



	<div class="btn__addUsers">
		<button class="btn ">
			<a class="btn__text" href="{% url 'add_sku' %}">Добавить SKU</a>
		</button>

	</div>

	<!-- <input type="text" class="filter-input"> -->


</div>




	<!-- <div class="headers__users  header_users-list header_users-list1">
		<div class="headerTable">Наименование</div>
		<div class="headerTable">Артикул<br>(Идентификатор)</div>
		<div class="headerTable">Производитель</div>
		<div class="headerTable">Категория</div>
		<div class="headerTable butPods" data-title="Сортировать SKU от А - Я">
			<button class="btn1 btn__addUsers1 btn-fuck ">

			<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
		</button>
		</div>
	</div> -->
	<table  class="trStyle " id="myTable">
		<tr class="headTable">
			<th>Наименование</th>
			<th>Артикул</th>
			<th>Производитель</th>
			<th>Категория</th>
			
			<th class="knopkaSort">
				<div class="headerTable butPods" data-title="Сортировать SKU от А - Я">
					<button class="btn1 btn__addUsers1 btn-fuck ">
					
					<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
					</button>
				</div>
			</th>
		</tr>

		<tr class="trClass">
			{% for sku in sku_list %}
			<td class="tdStyle">{{sku.name}}</td>
			<td class="tdStyle">{{sku.identifier}}</td>
			<td class="tdStyle">{{sku.producer}}</td>
			<td class="tdStyle">{{sku.category.get_full_path}}</td>
			<td class="tdStyle whtdStyle"> 
				  
				<a class="btn__text" href="{{sku.pk}}">
					<button class="btnTable"></button>
				</a>
			</td>
		</tr>
		{% endfor %}
	</table>
			<!-- <p class="last">{{u.first_name}} {{u.last_name}}, Партнер: {{u.partner}}</p> -->

		<div class="clear"></div>


{% endblock %}

