<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

<!-- </form> -->
<div class="header__users-top">
	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		
		</form>
	</div>

	<div class="btn__addUsers">
		<button class="btn ">
			<a class="btn__text" href="{% url 'registeruser' %}">Добавить пользователя</a>
		</button>
		<button class="btn btn-fuck  ">
			<a class="btn__text">Сортироваать</a>
		</button>
	</div>

	<!-- <input type="text" class="filter-input"> -->

	
</div>

<!-- <ul id="filter-list" class="list-articles">
	<div class="header_users-list">
		<div class="header_users-list-name">Пользователь</div>
		<div class="header_users-list-Person">Имя пользователя</div>
		<div class="header_users-list-Part">Партнер</div>
		<div class="header_users-list-Part"></div>
		<!-- <div class="header_users-list-last"> <img class="imgSort" src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt=""> </div> -->
		
	<!-- </div>
	{% for u in users %}
	<li class="partners__infoUsers">
		<div class="" style="display: none;">{{u.username}}</div>
		<div class="article-panel">
			<p class="first fistUsers">{{u.username}}</p>
			<p class="last lastUsers"> {{u.last_name}}  {{u.first_name}}</p>
			<p class="last lastUsers ">{{u.partner}}</p>
			<div class="partners__info-header" style="text-align: right">
			<button class="btn">
				<a class="btn__text" href="{{u.pk}}">Просмотр</a>
			</button>
			
		</div>
		</div>
	{% autoescape on %}
			<!-- <p class="last">{{u.first_name}} {{u.last_name}}, Партнер: {{u.partner}}</p> -->
	<!-- {% endautoescape %} -->
		<!-- <div class="clear"></div>
	</li>


	{% endfor %}
</ul> --> --> -->



	
		
	
	<table class="trStyle" id="myTable">
		<tr>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
		<tr >
			{% for u in users %}
			<td class="tdStyle">{% autoescape on %}{{u.username}}</td>
			<td class="tdStyle">{{u.last_name}}  {{u.first_name}}</td>
			<td class="tdStyle"> <button class="btn">
				  <a class="btn__text" href="{{u.pk}}">Просмотр</a>
				  </button>
			</td>
		</tr>
		{% endautoescape %}
		{% endfor %}
	</table>
			<!-- <p class="last">{{u.first_name}} {{u.last_name}}, Партнер: {{u.partner}}</p> -->
			
		<div class="clear"></div>
	

{% endblock %}

