<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
{% extends 'Jaimain/base.html' %}
{% block content %}
<!-- <form class="search form-text" action="{% url 'search' %}" method="GET">
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<form class="form-text" action="">
  		<input class="input-text" name="q" type="search">
  		<i class="fa fa-search"></i>
		  <input class="input-search" type="submit" value="Искать">
</form> -->

<!-- </form> -->
<div class="header__users-top">

	<div class="d7">
		<form>
		<input ul id="filter-list" class="filter-input" type="text" placeholder="Искать здесь...">
		</form>
	</div>

	<!-- <button class="btn btn__addUsers1 btn-fuck zero1">
		
		<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
	</button> -->

	

	<div class="btn__addUsers">
		<button class="btn ">
			<a class="btn__text" href="{% url 'registeruser' %}">Добавить пользователя</a>
		</button>
		
	</div>

	<!-- <input type="text" class="filter-input"> -->

	
</div>




	<div class="headers__users  header_users-list header_users-list1">
		<div class="headerTable">Пользователь</div>
		<div class="headerTable">Аккаунт</div>
		<div class="headerTable">Партнер</div>
		<div class="headerTable butPods" data-title="Сортировать Пользователя от А - Я">
			<button class="btn1 btn__addUsers1 btn-fuck ">
			<!-- <a class="btn__text">Сортировать от A - Я </a> -->
			<img src="./../../static/Jaimain/images/sort-arrows-svgrepo-com.svg" alt="">
		</button>
		</div>
	</div>
	<table  class="trStyle " id="myTable">
		
		
		<tr class="zero1"">
			{% for u in users %}
			<td class="tdStyle">{% autoescape on %}{{u.username}}</td>
			<td class="tdStyle">{{u.last_name}}  {{u.first_name}}</td>
			<td class="tdStyle">{{u.partner}}</td>
			<td class="tdStyle"> <button class="btn">
				  <a class="btn__text" href="{{u.pk}}">Просмотр</a>
				  </button>
			</td>
		</tr>
		
		{% endautoescape %}
		{% endfor %}
	</table>
			<!-- <p class="last">{{u.first_name}} {{u.last_name}}, Партнер: {{u.partner}}</p> -->
			
		<div class="clear"></div>
	

{% endblock %}

