

html, body {
	/* font-family: 'Arial'; */
	/* font-family: Sans-serif, Arial, Tahoma; */
	font-family: 'Inter', sans-serif !important;
	margin: 0;
	padding: 0;
	/* height: 100vh; */
	height: 100%;
	width: 100%;
	color: #444;

}

a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: none;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
	/* max-width: 300px; */
	height: auto;
	float: left;
	padding: 0 10px 10px 0;
	width: 100%;
	
}

img.img-article-left.thumb {
	/* max-width: 150px;
	height: auto; */
	width: 100%;
	height: 120px;
}

p.link-read-post {
	text-align: right;
}
p.link-read-post a {
	padding: 10px;
	min-width: 100px;
	background: #333671;
	color: #fff;
	text-decoration: none;
}

div.article-panel {
    /* background: #eee; */
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: #555;
}
div.article-panel p.first {
    margin: 0;
    float: left;
}
div.article-panel p.last {
    margin: 0;
    float: right;
}

ul.list-articles {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.list-articles li {
	border-bottom: 1px solid #ccc;
}

.table-page {
	width: 100%;
	height: 100%;
	vertical-align: top;
}
.table-page tr {height: 100%;}

.clear {clear: both;}

.header {
	height: 60px;
	width: 100%;
	background: white;
    overflow: hidden;
    z-index: 100;

}

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
	display: none;
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	color: #fdc073;
	font-size: 20px;
	/* overflow: hidden; */
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

.panelitems {
	text-align: center;
}

ul.langitem {
	list-style: none;
	display: inline-block;
	margin: 30px;
	padding: 0;
	max-width: 300px
}
ul.langitem li {
	margin: 10px 0 0 0;
	width: 100%;
}
ul.langitem li.image {
	margin: 0;
	text-align: center;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
ul.langitem li.descr {
	color: #777;
	height: 170px;
	overflow: hidden;
}
ul.langitem li a {
	color: #fdc073;
	text-decoration: none;
	font-size: 20px;
}
ul.langitem li a:hover {
	color: #FDA83D;
}
div.button {
	background: #3F4137;
	max-width: 200px;
	margin: 0 auto;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 20px;
}

.table-content {
	width: 100%;
	min-height: 100%;
	height: 100%;
}



.left-chapters {
	margin: 0;
	background: white;

	/* border-right: 1px solid #ccc; */
	min-height: 100%;
}
.left-chapters ul {
	width: 230px;
	max-height: 100%;
	margin: 0;
	padding: 20px 10px 10px 20px;
	list-style: none;
	font-size: 20px;
}
.left-chapters ul li {
	margin: 30px 0 0 0;
	color: #999;
}
.left-chapters ul li.selected {color: #0059b2; }
.left-chapters ul li a {
	/* color: #444; */
	text-decoration: none;
}
.left-chapters ul li a:hover { color: #CC0000; }
.left-chapters ul li.share {margin: 60px 0 0 0;}
.left-chapters ul li.share p {margin: 30px 0 30px 0;}
.left-chapters ul li.share a {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 20px 0 0;
}
.left-chapters ul li.share a.share-yt {
	width: 100%;
	height: 30px;
	background: url('../images/share_yt.png') no-repeat 0 0
}
.left-chapters ul li.share a.share-yt:hover {
	width: 100%;
	height: 30px;
	background: url('../images/share_yt.png') no-repeat 0 -30px
}

.content {
	padding: 40px 20px 20px 40px;
	width: 100%;
	box-sizing: border-box;
	/* background-color: #F8F9FF ; */
	background-color: #F6FAFF;
	border: #F6FAFF solid 1px;
	border-radius: 38px 0px 0px 38px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
}

ul.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.breadcrumbs li {
	display: inline-block;
}
ul.breadcrumbs li a {
	color: #0059b2;
	text-decoration: none;
}
ul.breadcrumbs li a:hover { color: #CC0000; }
ul.breadcrumbs li:after{
	padding: 0 10px 0 10px;
	content: "\2192";
}
ul.breadcrumbs li.last:after {content: "";}

ul.control {
	margin: 0;
	padding: 60px 0 0 0;
	list-style: none;
	font-family: Sans-serif, Arial, Tahoma;
	font-size: 18px;
	width: 100%;
}
ul.control li {	float: left; padding: 0 0 0 10px;}
ul.control li.first:before {content: "\2190"; padding: 0 10px 0 0;}
ul.control li.last {float: right; padding: 0 40px 0 0;}
ul.control li.last:after {content: "\2192"; padding: 0 0 0 10px;}
ul.control li a { color: #0059b2; text-decoration: none; }
ul.control li a:hover { color: #CC0000; }

ul.content-table {
	margin: 0;
	padding: 60px 0 0 30px;
	list-style: none;
	font-family: Sans-serif, Arial, Tahoma;
	font-size: 28px;
}
ul.content-table li {
	margin: 0 0 40px 0;
}
ul.content-table li a {
	color: #BB5715;
	text-decoration: none;
}
ul.content-table li a:hover {color: #F0711C;}

.content-text {
	margin: 30px 0 0 30px;
	color: #000;
	font-size: 20px;
	font-family: Yandex Sans Display Light;
}

.content-textLogin{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25)); */

}

.content__loginpage{
	background-color:white;
	padding: 100px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
	border-radius: 40px;
	width: 30%;
	margin-top: 10px;
	

}


.login__header{
	/* width: 1300px; */
	text-align: center;
}

.last__login{
	display: none;
}


.content-text h1 {font-size: 32px;}

ul.lang-list {
	list-style: none;
	margin: 0;
	padding: 14px 0 0 0;
	background: #3F4137;
	width: 100%;
	height: 50px;
	border-top: 1px solid #959A82;
	box-sizing: border-box;
	font-size: 18px;
	font-family: Sans-serif, Arial, Tahoma;
}
ul.lang-list li {
	display: inline-block;
	margin-left: 40px;
}
ul.lang-list li.selected {color: #fdc073; border-bottom: 1px solid #fdc073;}
ul.lang-list li a {
	color: #eee;
	text-decoration: none;
}
ul.lang-list li a:hover {color: #fdc073;}

.topic-subject .topic-line {
	border-bottom: 1px solid #CC0000;
	margin-top: -16px;
}

.topic-subject .topic-text {
	display: inline-block;
	font-size: 28px;
	color: #777;
	padding: 0 10px 0 10px;
	margin-left: 30px;
	background: #fff;
	font-family: Sans-serif, Arial, Tahoma;
}

.list-topic {
	margin: 40px 0 60px 0;
	font-family: Sans-serif, Arial, Tahoma;
}
.list-topic p {
	margin: 0;
	font-size: 28px;
}
.list-topic ol {
	columns: 2;
	-webkit-columns: 2;
	column-gap: 40px;
}
.list-topic ol li {
	display: list-item;
	margin: 10px 10px 0 0px;
	padding: 0 0 0 10px;
}
.list-topic ol li a {
	color: #0059b2;
	text-decoration: none;
}
.list-topic ol li a:hover {color: #CC0000;}

.highlight {
	max-width: 350px;
	padding: 0 10px 0 10px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	background: #f0f0f0;
}
.highlight p { margin: 0; }
.highlight .block {
	width: 100%;
	margin: 0;
}
.highlight .block p { margin: 0; }

.quote {
	background: url('../images/blockquote.png') no-repeat 0 10px;
	padding: 5px 5px 5px 70px;
	font-family: Sans-serif, Arial, Tahoma;
	font-style: italic;
}

#footer {
	box-sizing: border-box;
	background: #3F4137;
	padding: 10px;
	color: #aaa;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	text-align: left;
	overflow: hidden;
	z-index: 2;
}
#footer a {
	text-decoration: underline;
	color: #aaa;
	z-index: 3;
}

.form-input {
    /* width: 300px; */
	width: 100%;
    font-size: 16px;
}

.form-inputRegisterP{
	border-bottom: rgb(128, 128, 128) dotted 1px;
	padding: 20px 0;
}

.form-inputRegister{
	width: 30%;

}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
    min-width: 200px;
    font-size: 16px;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.header_ilya{
    display: flex;
    flex-wrap: wrap;
}

.btn_ilya{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
}

.search{
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	margin-bottom: 10px;
	align-items: center;
}

.btn, .search__btn,.input-search{
	margin-left: 10px;
	margin-top: 10px;
	/* background-color: rgb(251, 80, 0); */
	background-color: #2F76E6;
	padding: 10px 15px;
	border-radius: 15px;
	font-size: 16px;
	color: #fff;
	border: 0;
	outline: none;
	box-shadow: 0 7px 10px #d6d9e4;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	text-decoration: none !important;
}

.btn1{
	margin-left: 10px;
	margin-top: 10px;
	/* background-color: rgb(251, 80, 0); */
	background-color: #2F76E6;
	padding: 10px 15px;
	border-radius: 15px;
	font-size: 16px;
	color: #fff;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	text-decoration: none !important;
}

.btn1:hover{
	background-color: rgb(255, 97, 24);
	text-decoration: none !important;

}


.butPods:hover::after { 
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 70%; top: 20%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
	color: black;
}

.input-search{
	margin-bottom: 50px;
}

.btn:hover, .search__btn:hover{
	background-color: rgb(255, 97, 24);
	text-decoration: none !important;

}

.search__area{
	height: 30px;
}

.partners__info{
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
	max-width: 200px;
	min-height: 470px !important;
	/* font-family: 'Inter', sans-serif; */

}

.info__user{
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
	max-width: 200px;
	min-height: 470px !important;
}

.partners__infoUsers{
	/* margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
	max-width: 200px;
	min-height: 470px !important; */
	/* font-family: 'Inter', sans-serif; */
	width: 100%;
	font-style: 13px !important;
}

.fistUsers,.lastUsers{
	width: 100px;
	font-size: 13px;
	justify-content: start !important;
}

.header_users-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	background-color: #000;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 58px;
	align-items: center;
	color: white;
	
}

.header_users-list1{
	justify-content: space-around !important;
	height: 79px;
}

.header_users-list-name,
.header_users-list-Person,
.header_users-list-Part,
.header_users-list-last{
	width: 120px;
	color:white;
	padding-left: 5px;
}

.header_users-list-last{
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.partners-desc{
	font-size: 13px;
	height: 62px;
}

.article-panel{
	background-color: white;
	/* background-color: #F8F9FF; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.btn__text{
	color: white;
}

.form-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.input-text{
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.form-text:hover{
    width: 200px;
    cursor: pointer;
}

.form-text:hover input{
    display: block;
}

.form-text:hover .fa{
    background: #07051a;
    color: white;
}

.img-slide{
	width: 25px;
	height: 25px;
}

.slider__right{
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	/* width: 245px; */
}

.img-slide{
	margin-right: 5px;
}


.nonActive{
	display: flex;
	position: relative;
	animation: animateMotion 1s  linear;
	animation-iteration-count: 0.4;
	animation-fill-mode:forwards;

}

.nonActiveTwo{
	display: flex;
	position: relative;
	animation: animateMotionTwo 0.5s  linear;
	animation-iteration-count: 0.4;
	animation-fill-mode:forwards;
}

.nonActive-time{
	display: none;

}

.background-tr{
	background-color: #F6FAFF;
}

@keyframes animateMotion {
	0%{
        left: 0;
    }
    /* конечное значение */
    100%{
        left: -700px;

    }
}

@keyframes animateMotionTwo {
	0%{
        left: -700px;
    }
    /* конечное значение */
    100%{
        left: 1050px;

    }
}

.sidebar__arrow{
	display: flex;
	justify-content: end;
	position: absolute;
	left: 218px;
	cursor: pointer;
}

.sidebar__arrow{
	cursor: pointer;
}

.sidebar__arrow:hover{
	scale: 1.1;
}

.sidebar__arrow-img0{
	cursor: pointer;
	margin-left: 7px;
	margin-bottom: 2px;
}

.sidebar__arrow-img0:hover{
	scale: 1.1;
}

.sidebar__arrow-non{
	position: absolute;
	left: 100px;
	top:100px
}



.top2{
	position: absolute;
	top: -1000px
}

.top2-active{
	margin-top: 60px;
	position: absolute;
	width: 30px;
	/* min-height: fit-content; */
	/* background-color: #2F76E6;   */
	z-index: 1000;
	top:-1px

}

.ActiveList{
	border-radius: 10px;
	background-color: #F6FAFF;
	/* color: white; */
	height: 40px !important;
	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));


}


.partners, .AddPartners,.shops{
	margin: 13px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}

.partners-block{
	background-image: url(./../images/part-icon.svg);
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	font-size: 18px;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.partners-block:hover{
	scale: 1.1;
}

.addPartners-block:hover{
	scale: 1.1;
}

.addPartners-block{
	background-image: url(./../images/add-part-icon.svg);
	background-repeat: no-repeat;
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.shop{
	background-image: url(./../images/home.svg);
	background-repeat: no-repeat;
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.shop__info{
	max-height: 470px;
}

.shop__info-art{
	max-height: 470px;
	overflow: auto !important;
	overflow-x:hidden !important;
}

.desc__shop{
	width: 100%;
}

.name__shop{
	width: 100%;
}

.mesto__shop{
	margin-top: 40px;
	font-size: 13px;
	margin-bottom: 30px;
}

.part__shop{
	font-size: 13px;
	margin-bottom: 30px;
}

.img__shop{
	background-size: contain;
	width: 180px;
	height: 160px;
	margin-bottom: 20px;
}

.partners:hover{
	scale: 1.1;
}

.AddPartners:hover{
	scale: 1.1;
}

.hoverblock{
	scale: 1.1;
}

.zero{
	opacity: 0;
}

.zero1{
	display: none !important;
}

.btn-zero{
	cursor: pointer;

}
.btn-zero{
	z-index: 10;
	opacity: 0;
}


.btn-addPart{
	position: absolute;
	top:220px;
	left:360px;
	z-index: 0;
	width: 300px;
}

.btn-login{
	width: 100%;
	margin-left: 0px !important;
}

.p__addPart{
	border-bottom: rgb(128, 128, 128) dotted 1px;
	padding: 20px 0;
}

.p__addPart-width{
	width: 300px;
}

.p__addPart-widthRight{
	width: 50%;
}

.p__addPart-desc{
	height: 40px;
	width: 300px;
}

.p__addPart-dataDay{
	margin-right: 5px;
}

.h1-header{
	border-bottom: rgb(128, 128, 128) dotted 1px;
}

.header__user{
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.last{
	color:black;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
	display: flex;
	cursor: pointer;

}

.header__user-exit{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	
}

.header__user-exit:hover{
	scale: 1.1;
	
}

.header__user-exitImg{
	width: 23px;
	height: 23px;
}

.header__exit{
	color:black !important;
	width: 100px;
	text-decoration: none !important;
}

.btn__addUsers{
	display: flex;
	justify-content: end;
	padding-bottom: 30px;
	height: 62px;
}

.btn__addUsers1{
	display: flex;
	justify-content: end;
	padding-bottom: 8px;
	height: 62px;
	margin-bottom: 12px;
}

.header__users-top{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.headers__users{
	display: flex;
	flex-wrap: wrap;
}

.input__login{
	height: 33px;
	/* width: 900px; */
}

.partners__info-header{
	align-self:flex-end;
}

.btn__partners{
	width: 100%;
	margin-left: 0;
}

.PortfolioTop{
	width: 50%;
	font-size: 40px;
}

.PortfolioBtn{
	width: 50%;
	font-size: 30px;
	margin-bottom: 40px;
	
}

.PortfolioPerson,.PortfolioName{
	width: 50%;
	font-size: 30px;
	margin-bottom: 40px;
	
}

.PortfolioMail,.PortfolioPartner{
	width: 50%;
	font-size: 30px;
}

.PortfolioPerson-top,.PortfolioName-top,.PortfolioMail-top,.PortfolioPartner-top{
	color: #707f8d;
}

.Portfolio__users{
	display: flex;
	flex-wrap: wrap;
}

.PortfolioUsersHeaders{
	width: 50%;
	font-size: 30px;
	align-items: flex-start;
	display: flex;
}

.PortfolioUsers{
	width: 50%;
	margin-bottom: 40px;
}

.trStyle{
	border-collapse: collapse;
	border: 4px double black; 
	width: 100%;
	/* text-align: center; */
	background-color: white;
}

.tdStyle{
	border: 1px solid black; 
	width: 100px !important;
}

.trClass{
	
}

.headerTable{
	width: 100px !important;
}



/* Страница Поиска Начало */
.article-panel-search{
	margin-top: 100px;
	border-radius: 20px;

}

.white{
	color: white !important;
}

.list-articles{
	display: flex;
	flex-wrap: wrap;
}

.list-articles-search{
	margin-bottom: 20px;
	margin-top: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 10px;
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.25));
}

.partners__cards{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px;

	width: 345.33px;
	height: 584px;
}

.dataPartners{
	font-size: 13px;
	padding-top: 50px;
}

.category{
	background-image: url(./../images/category.svg);
	background-repeat: no-repeat;
	font-size: 18px;
	text-align: center;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.category:hover,.shop:hover{
	scale: 1.1;
}

.category10{
	width: 20px;
	height: 20px;
	margin-left: 12px;
	margin-top: 10px;
}

/* Страница Поиска Конец */

/* Преоладер */
.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	background: #e0e0e0;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;
  }

  .preloader__row {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
  }

  .preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
  }

  .preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
  }

  @keyframes preloader-rotate {
	100% {
	  transform: rotate(360deg);
	}
  }

  @keyframes preloader-bounce {

	0%,
	100% {
	  transform: scale(0);
	}

	50% {
	  transform: scale(1);
	}
  }

  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }

  .loaded .preloader {
	display: none;
  }
  /* Преоладер */

 /* Поиск у пользователей */
.d7{
	display: flex;
	justify-content: left;
}
.d7:after {content:""; clear:both; display:table}
.d7 form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.d7 input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.d7 input:focus {
  width: 300px;
}
.d7 button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
.d7 button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}

/* Поиск у пользоватей End*/